<%- include('./partials/header') %>
<html>
  <main>
    <div class="ui segment">
      <h1>Personagens relevantes para a história</h1>
      <p>A-Z</p>
      <h2><%= subheading %></h2>
      <!--Tirar o ul,li e class, trocar por quebra de linha-->
      <ol>
        <br>
            <% characters.forEach(function(character) {%> 
            <strong> <%= character.name %></strong>
            is <%= character.role %>
            <% }); %>
        </br>
       </ol>
    </div>
  </main>

  <footer>
    <%- include('./partials/footer') %>
  </footer>

</body>

</html>